@use "@sass/typography/media";

.home {
  height: 100vh;

  &__carousel {
    overflow: hidden;
    height: 25vh;
    @include media.min-width(medium) {
      height: 80vh;
    }
  }

  &__icons {
    padding-top: var(--size-4);
    background: url("../../assets/Images/home_icons.jpg");
    background-size: cover;
    height: 10vh;
    margin: var(--size-4) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media.min-width(medium) {
      background: url("../../assets/Images/home_icons-big.jpg");
      height: 20vh;
      margin-top: var(--size-7);
    }
    a {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      h1 {
        background: #f7b12450;
        border-radius: 18px;
        letter-spacing: 0.1em;
        padding: var(--size-1) var(--size-5);
        border: 1px solid var(--black-1);
        color: var(--orange-1);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      }
    }
  }

  &__scroll {
    height: 20vh;
  }

  &__events {
    padding-bottom: var(--size-7);
    &--item {
      border: 1px solid var(--black-1);
      border-radius: 18px;
      margin: 0 var(--size-1) var(--size-7) var(--size-1);
      img {
        border-top: 1px solid var(--black-1);
        border-bottom: 1px solid var(--black-1);
        border-radius: 18px 18px 0 0;
      }
      h2 {
        letter-spacing: 0.05em;
        text-align: center;
        padding: var(--size-7) var(--size-3);
      }
    }
  }
}

.title__dots {
  position: relative;
  svg {
    position: absolute;
    bottom: 50%;
    width: 50px;
    height: 50px;
    right: 10%;
    z-index: -1;
  }
}
