@use "./media";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white-1);
}

.container {
  margin: 0 auto;
  max-width: 900px;
  @include media.min-width(medium) {
    max-width: 1200px;
  }
}

.center {
  display: grid;
  place-items: center;
}

img {
  width: 100%;
}

.text__decoration {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: -5%;
    width: 110%;
    height: var(--size-2);
    background: var(--orange-1);
    z-index: -1;
    border-radius: 18px;
  }
}
