@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

html {
  line-height: 1.25;
  body {
    font-family: "Racing Sans One", cursive;
  }
}

a {
  font-weight: 600;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-1);
}
