:root {
  --white-1: #ffffff;
  --white-2: #eff1f683;
  --black-1: #000000;
  --black-2: #3f3f3f;
  --primary-1: #50b5ff;
  --primary-2: #00c6fb;
  --primary-3: #277da1;
  --success: #5cb85c;
  --error: #fa9b8a;
  --dark-blue-1: #22233a;
  --dark-blue-2: #131e40;
  --gray-1: #888888;
  --red-1: #f94144;
  --red-2: #e4c9ba;
  --yellow-1: #f7b124;
  --orange-1: #f3722c;
  --turquoise-1: #4d908e;
  --bluish-white: #e7f3ff;
  --bluish-white-1: #eaf3ff;
  --green-1: #90be6d;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --letter-spacing: 1px;
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 18px;
  --size-5: 24px;
  --size-6: 36px;
  --size-7: 54px;
}
