.header {
  z-index: 1;
  width: 100%;
  &__nav {
    display: flex;
    padding: var(--size-2) 0;

    ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        margin-right: var(--size-7);
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}

.header__logo {
  img {
    max-width: 50px;
  }
}
